<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
   <style>
       p{
           padding: 4rem;
       }
   </style>
    <title>Document</title>
</head>
<body>
{{>navbar}}
     <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit fuga a quae necessitatibus rem hic illo sequi dignissimos obcaecati ipsam, provident velit facilis nobis labore explicabo incidunt animi quod distinctio dolor delectus maiores voluptatibus magnam adipisci modi? Repudiandae vitae sint soluta saepe quia neque quidem, asperiores provident quisquam facere incidunt delectus dolorem! Nisi deleniti natus eveniet reiciendis sequi reprehenderit eligendi accusantium excepturi aliquam praesentium ipsam, autem cum rerum. Eligendi obcaecati consequuntur repudiandae consequatur ex saepe dolor quibusdam dolores velit quo, molestias nostrum architecto deserunt odio iste! Commodi error deleniti similique eaque officia. Dolorum itaque inventore exercitationem nam maxime debitis minima, impedit porro obcaecati aut expedita quibusdam, neque iusto reiciendis animi, illum delectus sint laborum tenetur architecto! Accusamus accusantium alias harum eius reiciendis eaque corrupti earum aspernatur eveniet. Quo ipsam facere modi doloribus enim, culpa a fugit autem ut quidem molestiae voluptatem. Tenetur aut nam qui provident ipsa quae eum. Nesciunt ea, officia quis vero ratione assumenda ad voluptate amet quam numquam reprehenderit. Incidunt consequuntur sit rerum repudiandae quae aperiam assumenda ipsum quam nam repellendus. Quisquam, saepe? Assumenda temporibus illo dolore sit eius! Ex illo, debitis earum quasi est neque nihil aspernatur eum omnis, eaque dolor ipsum! Enim quam dolor repellat placeat pariatur earum incidunt velit sit ex dolore totam quia ut perspiciatis officiis architecto quaerat, labore accusantium, dolores dicta, mollitia est sed nulla dolorum? Quae repellat quod, odio explicabo incidunt aperiam sequi natus voluptate, reiciendis animi dicta ullam ex ipsa voluptas delectus corporis quo vitae nemo amet accusantium, cum nulla modi velit. Dolor quod ex dolores est aut recusandae, iure repudiandae error earum eveniet ipsa, ab laudantium obcaecati pariatur eum dolorum alias beatae natus quia. Nobis iure expedita tenetur fuga mollitia, itaque laudantium temporibus repellat dignissimos non accusamus porro sed quidem blanditiis asperiores laboriosam dolores et iste at quia omnis? Animi, nihil repudiandae, est culpa harum debitis sed vero ex error maxime corrupti sapiente laudantium rem molestiae. Doloremque exercitationem maxime harum. Eligendi cupiditate earum repellat vero rerum animi id. Praesentium aspernatur, nesciunt exercitationem voluptatem consectetur laudantium! Repellendus sequi delectus corrupti eius consectetur ratione error repellat praesentium nostrum modi alias, dolores id adipisci autem assumenda illo minima debitis veritatis consequuntur qui officiis neque! Laudantium reprehenderit fugit dolore at itaque expedita laborum? Ex repellat eligendi dicta amet maxime similique provident ut, nesciunt perspiciatis velit dolore, dolor, neque et veritatis distinctio. Suscipit placeat temporibus eum sapiente veniam, fugiat distinctio enim officia obcaecati perspiciatis optio error fugit, nesciunt soluta? Dolorum laboriosam soluta iusto qui nihil, sequi rem labore, excepturi optio blanditiis ut recusandae delectus sapiente, tenetur reprehenderit? Sapiente hic earum commodi, nobis nesciunt eveniet incidunt sint eum sunt corporis similique ab, iusto consectetur sed.</p>

  <!--<script src="../jq/jquery.js" type="text/javascript"></script>  
   <script src="../jq/bootstrap.js" type="text/javascript"></script> -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>