
 <div class="container-fluid my-4 about-style" id="aboutid">
    <div class="row">
      <div class="col-md-10 col-12 mx-auto">
        <h1 class="text-center main-heading">About us</h1>
        <p class="text-center sub-heading">grow your business with us</p>
        <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-6 col-12 hero-text">
             <figure>
               <img src="images/about.svg" alt="Swag">
             </figure>
          </div>

          <div class="col-sm-12 col-md-6 col-lg-6 col-12 hero-text order-md-0 order-1 d-flex justify-content-center align-items-start flex-column">
              <h1>WE WILL HELP YOU TO</h1>
              <h1>GROW YOUR BUSSINESS</h1>
              <p>we are the team of <span class="bold-style">professional developer </span></p>
              <!--<button class="btn-style btn-primary" > Read More</button>-->
              <a  href="/aboutmore" ><button id="btn" class="btn-style btn-primary" >Read More</button></a>
            
          </div>
         
        </div>
      </div>
    </div>
  </div>




